body {
    background-image: url(Assets/fundo.png) ;
    background-size: contain;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    position: relative;
    
}

body::before {
    content: ''; /* Cria o pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento no topo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Assets/fundo.png'); 
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* A imagem é centralizada */
    background-repeat: no-repeat;
    z-index: -1; 
    opacity: 0.6; /* Ajuste a opacidade da imagem */
}
