/* style.css */
body {
    background-image: url(Assets/fundo.png) ;
    background-size: contain;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    position: relative;
    
}

body::before {
    content: ''; /* Cria o pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento no topo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Assets/fundo.png'); 
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* A imagem é centralizada */
    background-repeat: no-repeat;
    z-index: -1; 
    opacity: 0.6; /* Ajuste a opacidade da imagem */
}


.container {
    border-radius: 1.5rem;
    width: 60%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 1.2em;
    margin-top: 20px;
    color: #555;
    font-family: "Poppins", sans-serif;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #a52d69;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #b648a4;
}